@model IEnumerable<Recipes.Data.Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<div class="container">
    <div id="modal-placeholder"></div>    

    <div class="row">
        <section class="col-3">
            <h2>Search Recipes</h2>

            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" placeholder="Boiled Egg">
                <label for="floatingInput">Title</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="checkVegetarian">
                <label class="form-check-label" for="checkVegetarian">
                    Vegetarian
                </label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="checkVegan">
                <label class="form-check-label" for="checkVegan">
                    Vegan
                </label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="checkGlutenFree">
                <label class="form-check-label" for="checkGlutenFree">
                    GlutenFree
                </label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="checkDiaryFree">
                <label class="form-check-label" for="checkDiaryFree">
                    DiaryFree
                </label>
            </div>

            <button id="callAPIButton" class="btn btn-primary m-3">
                Search
            </button>

        </section>
        <section class="col-9">
            <h1>Recipes</h1>

            <p>
                <a href="#" id="createNewButton" class="btn btn-primary">Create New Recipe</a>
            </p>

            <div class="card-deck">
                @foreach (var item in Model)
                {
                    <div class="m-1">
                        <div class="card h-100 " style="width:18rem;">
                            <div id="detailsButton_@item.Id" class="card-body detailsButton">
                                <img class="card-img-top" src=@item.Image alt="Card image cap">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">@item.Summary.Substring(0, 200)...</p>
                            </div>
                            <div class="card-body">
                                <a href="#" id="editButton_@item.Id" class="btn btn-primary editButton">Edit</a>
                                <a href="#" id="deleteButton_@item.Id" class="btn btn-primary deleteButton">Delete</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted text-center">@item.SourceName</small>
                            </div>
                        </div>
                    </div>

                }
            </div>

        </section>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script>
    $("#createNewButton").click(function () {
        debugger;
        let url = new URL(location.origin + '@Url.Action("Create", "Home")');
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });

    $(".editButton").click(function (e) {
        debugger;
        let idVal = e.currentTarget.id.split('_')[1];
        let url = new URL(location.origin + '@Url.Action("Edit", "Home")');
        url.searchParams.append('id', idVal);
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });

    $(".detailsButton").click(function (e) {
        debugger;
        let idVal = e.currentTarget.id.split('_')[1];
        let url = new URL(location.origin + '@Url.Action("Details", "Home")');
        url.searchParams.append('id', idVal);
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });

        $(".deleteButton").click(function (e) {
        debugger;
        let idVal = e.currentTarget.id.split('_')[1];
        let url = new URL(location.origin + '@Url.Action("Delete", "Home")');
        url.searchParams.append('id', idVal);
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });


    $("#btnHideModal").click(function () {
        $("#modal-placeholder").modal('hide');
    });

    function closeModal(e){
        debugger;
        alert('HTTP Status Code: ' + data.param1 + "  " + data.param2); 
    }
    function OnSuccess(data) {  
        debugger;
        alert('HTTP Status Code: ' + data.param1 + "  " + data.param2);  
     }
</script>


