@model IEnumerable<Recipes.Data.Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<div class="container">
    <div id="modal-placeholder"></div>    

    <div class="row">
        <section class="col-lg-4">
            <h2>Recipes Functions</h2>
            <button id="callAPIButton" type="button">
                Call API
            </button>
        </section>
        <section class="col-lg-8">
            <h1>Recipes</h1>

            <p>
                <button id="createNewButton" type="button">
                    Create New Recipe
                </button>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageType)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageType)
                            </td>
                            <td>
                                <button id="editButton_@item.Id" class="editButton">Edit</button> |
                                <button id="detailsButton_@item.Id" class="detailsButton">Details</button> |
                                <button id="deleteButton_@item.Id" class="deleteButton">Delete</button> |
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </section>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script>
    $("#createNewButton").click(function () {
        debugger;
        let url = new URL(location.origin + '@Url.Action("Create", "Home")');
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });

    $(".editButton").click(function (e) {
        debugger;
        let idVal = e.currentTarget.id.split('_')[1];
        let url = new URL(location.origin + '@Url.Action("Edit", "Home")');
        url.searchParams.append('id', idVal);
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });

    $(".detailsButton").click(function (e) {
        debugger;
        let idVal = e.currentTarget.id.split('_')[1];
        let url = new URL(location.origin + '@Url.Action("Details", "Home")');
        url.searchParams.append('id', idVal);
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });

        $(".deleteButton").click(function (e) {
        debugger;
        let idVal = e.currentTarget.id.split('_')[1];
        let url = new URL(location.origin + '@Url.Action("Delete", "Home")');
        url.searchParams.append('id', idVal);
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });


    $("#btnHideModal").click(function () {
        $("#modal-placeholder").modal('hide');
    });
</script>


