@model IEnumerable<Recipes.Data.Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<div class="container">
    <div id="modal-placeholder"></div>    

    <div class="row">
        <section class="col-lg-4">
            <h2>Recipes Functions</h2>
            <button id="createNewButton" type="button">
                Load Recipes
            </button>
        </section>
        <section class="col-lg-8">
            <h1>Recipes</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageType)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageType)
                            </td>
                            <td>
                                <button id="editButton_@item.Id" class="editButton">Edit</button> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </section>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script>
    $("#createNewButton").click(function () {
        debugger;
        let url = new URL(location.origin + '@Url.Action("Create", "Home")');
        url.searchParams.append('id', 42);
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });

    $(".editButton").click(function (e) {
        debugger;
        let idVal = e.currentTarget.id.split('_')[1];
        let url = new URL(location.origin + '@Url.Action("Create", "Home")');
        url.searchParams.append('id', 42);
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show');
        });
    });


    $("#btnHideModal").click(function () {
        $("#modal-placeholder").modal('hide');
    });
</script>


